<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Bounds</key>
        <string>{{0, 0}, {100, 100}}</string>
        <key>Class</key>
        <string>ShapedGraphic</string>
        <key>ID</key>
        <integer>1</integer>
        <key>ImageID</key>
        <integer>1</integer>
        <key>Magnets</key>
        <array/>
        <key>Name</key>
        <string>Image</string>
        <key>Style</key>
        <dict>
            <key>fill</key>
            <dict>
                <key>Draws</key>
                <string>NO</string>
            </dict>
            <key>shadow</key>
            <dict>
                <key>Draws</key>
                <string>NO</string>
            </dict>
            <key>stroke</key>
            <dict>
                <key>Draws</key>
                <string>NO</string>
            </dict>
        </dict>
    </dict>
</plist>
