<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>ActiveLayerIndex</key>
        <integer>0</integer>
        <key>AutoAdjust</key>
        <integer>6</integer>
        <key>AutosizingMargin</key>
        <integer>1</integer>
        <key>BackgroundGraphic</key>
        <dict>
            <key>Bounds</key>
            <string>{{0, 0}, {691, 743}}</string>
            <key>Class</key>
            <string>GraffleShapes.CanvasBackgroundGraphic</string>
            <key>ID</key>
            <integer>0</integer>
            <key>Style</key>
            <dict>
                <key>shadow</key>
                <dict>
                    <key>Draws</key>
                    <string>NO</string>
                </dict>
                <key>stroke</key>
                <dict>
                    <key>Draws</key>
                    <string>NO</string>
                </dict>
            </dict>
            <key>Text</key>
            <dict>
                <key>TextAlongPathGlyphAnchor</key>
                <string>center</string>
            </dict>
        </dict>
        <key>BaseZoom</key>
        <integer>0</integer>
        <key>CanvasDimensionsOrigin</key>
        <string>{0, 0}</string>
        <key>CanvasOrigin</key>
        <string>{0, 0}</string>
        <key>CanvasSize</key>
        <string>{691, 743}</string>
        <key>CanvasSizingMode</key>
        <integer>1</integer>
        <key>ColumnAlign</key>
        <integer>0</integer>
        <key>ColumnSpacing</key>
        <real>36</real>
        <key>DisplayScale</key>
        <string>1.0 pt = 1.0 px</string>
        <key>GraphicsList</key>
        <array/>
        <key>GridInfo</key>
        <dict>
            <key>DrawMajorGrid</key>
            <string>NO</string>
            <key>GridSpacing</key>
            <real>1</real>
            <key>MajorGridSpacing</key>
            <integer>1</integer>
            <key>MinorGridColor</key>
            <dict>
                <key>a</key>
                <string>0.3</string>
                <key>space</key>
                <string>gg22</string>
                <key>w</key>
                <string>0.723367</string>
            </dict>
            <key>ShowsGrid</key>
            <string>YES</string>
            <key>SnapsToGrid</key>
            <string>YES</string>
        </dict>
        <key>HPages</key>
        <integer>2</integer>
        <key>KeepToScale</key>
        <false/>
        <key>Layers</key>
        <array>
            <dict>
                <key>Artboards</key>
                <false/>
                <key>Lock</key>
                <false/>
                <key>Name</key>
                <string>Layer 1</string>
                <key>Print</key>
                <true/>
                <key>View</key>
                <true/>
            </dict>
        </array>
        <key>LayoutInfo</key>
        <dict>
            <key>Animate</key>
            <string>NO</string>
            <key>circoMinDist</key>
            <real>18</real>
            <key>circoSeparation</key>
            <real>0.0</real>
            <key>layoutEngine</key>
            <string>dot</string>
            <key>neatoLineLength</key>
            <real>0.20000000298023224</real>
            <key>neatoSeparation</key>
            <real>0.0</real>
            <key>twopiSeparation</key>
            <real>0.0</real>
        </dict>
        <key>Orientation</key>
        <integer>2</integer>
        <key>PrintOnePage</key>
        <false/>
        <key>RowAlign</key>
        <integer>0</integer>
        <key>RowSpacing</key>
        <real>36</real>
        <key>SheetTitle</key>
        <string>Canvas 1</string>
        <key>UniqueID</key>
        <integer>1</integer>
        <key>VPages</key>
        <integer>2</integer>
        <key>VisibleVoidKey</key>
        <real>1</real>
    </dict>
</plist>
