<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>ApplicationVersion</key>
        <array>
            <string>com.omnigroup.OmniGraffle7</string>
            <string>201.7.0</string>
        </array>
        <key>FileType</key>
        <string>auto</string>
        <key>GraphDocumentVersion</key>
        <integer>16</integer>
        <key>GuidesLocked</key>
        <string>NO</string>
        <key>GuidesVisible</key>
        <string>YES</string>
        <key>ImageCounter</key>
        <integer>1</integer>
        <key>ImageLinkBack</key>
        <array/>
        <key>ImageList</key>
        <array/>
        <key>LinksVisible</key>
        <string>NO</string>
        <key>MagnetsVisible</key>
        <string>NO</string>
        <key>MasterSheets</key>
        <array/>
        <key>ModificationDate</key>
        <string>2015-07-09 23:57:06 +0000</string>
        <key>Modifier</key>
        <string>Joel Page</string>
        <key>MovementHandleVisible</key>
        <string>NO</string>
        <key>NotesVisible</key>
        <string>NO</string>
        <key>OriginVisible</key>
        <string>NO</string>
        <key>PageBreaks</key>
        <string>NO</string>
        <key>PrintInfo</key>
        <dict>
            <key>NSBottomMargin</key>
            <array>
                <string>float</string>
                <string>40</string>
            </array>
            <key>NSHorizonalPagination</key>
            <array>
                <string>coded</string>
                <string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFxlwCG
                </string>
            </array>
            <key>NSLeftMargin</key>
            <array>
                <string>float</string>
                <string>18</string>
            </array>
            <key>NSPaperName</key>
            <array>
                <string>string</string>
                <string>na-letter</string>
            </array>
            <key>NSPaperSize</key>
            <array>
                <string>size</string>
                <string>{611.99997234344482, 792}</string>
            </array>
            <key>NSPrintReverseOrientation</key>
            <array>
                <string>coded</string>
                <string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFxlwCG
                </string>
            </array>
            <key>NSRightMargin</key>
            <array>
                <string>float</string>
                <string>18</string>
            </array>
            <key>NSTopMargin</key>
            <array>
                <string>float</string>
                <string>18</string>
            </array>
        </dict>
        <key>ReadOnly</key>
        <string>NO</string>
        <key>Sheets</key>
        <array/>
        <key>SmartAlignmentGuidesActive</key>
        <string>NO</string>
        <key>SmartDistanceGuidesActive</key>
        <string>NO</string>
        <key>UseEntirePage</key>
        <false/>
        <key>WindowInfo</key>
        <dict>
            <key>CurrentSheet</key>
            <integer>0</integer>
            <key>Frame</key>
            <string>{{77, 96}, {1189, 840}}</string>
            <key>ShowInfo</key>
            <true/>
            <key>Sidebar</key>
            <true/>
            <key>SidebarWidth</key>
            <integer>244</integer>
            <key>Sidebar_Tab</key>
            <integer>0</integer>
            <key>WindowInfo_InspectorTab</key>
            <array>
                <string>com.omnigroup.OmniGraffle.inspectorGroup.object</string>
            </array>
            <key>ZoomValues</key>
            <array>
                <array>
                    <string>Canvas 1</string>
                    <real>1</real>
                    <real>1</real>
                </array>
            </array>
        </dict>
        <key>compressOnDiskKey</key>
        <false/>
        <key>copyLinkedImagesKey</key>
        <false/>
        <key>createSinglePDFKey</key>
        <true/>
        <key>exportAreaKey</key>
        <integer>3</integer>
        <key>exportQualityKey</key>
        <real>100</real>
        <key>exportSizesKey</key>
        <array>
            <integer>1</integer>
            <string></string>
        </array>
        <key>fileFormatKey</key>
        <integer>2</integer>
        <key>htmlImageTypeKey</key>
        <integer>0</integer>
        <key>includeBackgroundGraphicKey</key>
        <true/>
        <key>includeNonPrintingLayersKey</key>
        <false/>
        <key>lastExportTypeKey</key>
        <integer>0</integer>
        <key>marginWidthKey</key>
        <real>0.0</real>
        <key>readOnlyKey</key>
        <false/>
        <key>resolutionForBMPKey</key>
        <real>1</real>
        <key>resolutionForGIFKey</key>
        <real>1</real>
        <key>resolutionForHTMLKey</key>
        <real>1</real>
        <key>resolutionForJPGKey</key>
        <real>1</real>
        <key>resolutionForPNGKey</key>
        <real>1</real>
        <key>resolutionForTIFFKey</key>
        <real>1</real>
        <key>resolutionUnitsKey</key>
        <integer>0</integer>
        <key>saveAsFlatFileOptionKey</key>
        <integer>0</integer>
        <key>useArtboardsKey</key>
        <false/>
        <key>useMarginKey</key>
        <false/>
        <key>useNotesKey</key>
        <false/>
    </dict>
</plist>
